-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: musicWeb
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `album`
--

DROP TABLE IF EXISTS `album`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `album` (
  `albumId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `singerId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `coverUrl` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `releaseDate` datetime DEFAULT NULL,
  `totalViews` int DEFAULT '0',
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `isHidden` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`albumId`),
  KEY `singerId` (`singerId`),
  CONSTRAINT `Album_ibfk_1` FOREIGN KEY (`singerId`) REFERENCES `singer` (`singerId`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `album`
--

LOCK TABLES `album` WRITE;
/*!40000 ALTER TABLE `album` DISABLE KEYS */;
/*!40000 ALTER TABLE `album` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `albumsong`
--

DROP TABLE IF EXISTS `albumsong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `albumsong` (
  `albumId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `songId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `trackNumber` int DEFAULT NULL,
  PRIMARY KEY (`albumId`,`songId`),
  KEY `songId` (`songId`),
  CONSTRAINT `AlbumSong_ibfk_1` FOREIGN KEY (`albumId`) REFERENCES `album` (`albumId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `AlbumSong_ibfk_2` FOREIGN KEY (`songId`) REFERENCES `song` (`songId`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `albumsong`
--

LOCK TABLES `albumsong` WRITE;
/*!40000 ALTER TABLE `albumsong` DISABLE KEYS */;
/*!40000 ALTER TABLE `albumsong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emotion`
--

DROP TABLE IF EXISTS `emotion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emotion` (
  `emotionId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`emotionId`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emotion`
--

LOCK TABLES `emotion` WRITE;
/*!40000 ALTER TABLE `emotion` DISABLE KEYS */;
INSERT INTO `emotion` VALUES ('EMO001','happy','Ă‚m nháº¡c tÆ°Æ¡i sĂ¡ng, nÄƒng lÆ°á»£ng tĂ­ch cá»±c, thÆ°á»ng dĂ¹ng khi cĂ³ tĂ¢m tráº¡ng tá»‘t.','2025-10-30 10:46:11'),('EMO002','sad','Nháº¡c nháº¹, sĂ¢u láº¯ng, thÆ°á»ng gá»£i nhá»› hoáº·c Ä‘á»“ng cáº£m vá»›i ná»—i buá»“n.','2025-10-30 10:46:11'),('EMO003','energetic','Nháº¡c máº¡nh máº½, tiáº¿t táº¥u nhanh, táº¡o cáº£m giĂ¡c há»©ng khá»Ÿi, nhiá»‡t huyáº¿t.','2025-10-30 10:46:11'),('EMO004','chill','Nháº¡c Ăªm dá»‹u, giai Ä‘iá»‡u cháº­m, giĂºp thÆ° giĂ£n tinh tháº§n vĂ  gá»£i cáº£m xĂºc ngá»t ngĂ o.','2025-10-30 10:46:11');
/*!40000 ALTER TABLE `emotion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favorite`
--

DROP TABLE IF EXISTS `favorite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `favorite` (
  `userId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `songId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`userId`,`songId`),
  KEY `songId` (`songId`),
  CONSTRAINT `Favorite_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `user` (`userId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Favorite_ibfk_2` FOREIGN KEY (`songId`) REFERENCES `song` (`songId`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favorite`
--

LOCK TABLES `favorite` WRITE;
/*!40000 ALTER TABLE `favorite` DISABLE KEYS */;
INSERT INTO `favorite` VALUES ('01KD3N0BRKJKDBPJN1212B2MGR','01KDMNV65BY9MXGQP16CHYP7NA','2025-12-30 17:28:54'),('01KD3N0BRKJKDBPJN1212B2MGR','01KDMNV7X7KGFPWV5ENYZWT8VT','2025-12-30 17:29:19'),('01KD3N0BRKJKDBPJN1212B2MGR','01KDMNVBCK69SAWDZAKKQCT3J8','2025-12-30 15:13:30'),('01KDQRNA399RXFTGRCGVGDSX3R','01KDMNV65BY9MXGQP16CHYP7NA','2025-12-31 00:39:05'),('01KDQRNA399RXFTGRCGVGDSX3R','01KDMQXXSWZ8PKE02STBK2HSGC','2025-12-31 00:17:52'),('admin-id','01KDMWZ68PSJKN5TZS19X55RAR','2026-01-31 17:08:07');
/*!40000 ALTER TABLE `favorite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `genre`
--

DROP TABLE IF EXISTS `genre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `genre` (
  `genreId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `isHidden` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`genreId`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `genre`
--

LOCK TABLES `genre` WRITE;
/*!40000 ALTER TABLE `genre` DISABLE KEYS */;
INSERT INTO `genre` VALUES ('01KDMN31X9TDWACFSFB9MTK461','Pop',NULL,0),('01KDMN38E5WHKYGZ9C651HMHS3','R&B',NULL,0),('01KDMN448A1TAWF4X8G4EN9P1G','Hiphop/Rap',NULL,0),('01KDMN7810KQBW935FH0X91WK0','Lo-fi',NULL,0),('01KDMSDV6PSVV1JZ8097DW2YG4','Ballad','Nháº¹ nhĂ ng, sĂ¢u láº¯ng, cháº¡m Ä‘áº¿n cáº£m xĂºc.',0),('01KDMSEHHV0504NMWSWNF3W8W4','Indie/Underground','PhĂ¡t triá»ƒn máº¡nh trong giá»›i tráº» yĂªu thĂ­ch sá»± Ä‘á»™c láº­p, sĂ¡ng táº¡o.',0);
/*!40000 ALTER TABLE `genre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `history`
--

DROP TABLE IF EXISTS `history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `history` (
  `userId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `songId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `listenCount` int DEFAULT '0',
  `firstListenedAt` datetime DEFAULT NULL,
  `lastListenedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`userId`,`songId`),
  KEY `songId` (`songId`),
  CONSTRAINT `History_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `user` (`userId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `History_ibfk_2` FOREIGN KEY (`songId`) REFERENCES `song` (`songId`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `history`
--

LOCK TABLES `history` WRITE;
/*!40000 ALTER TABLE `history` DISABLE KEYS */;
/*!40000 ALTER TABLE `history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `playlist`
--

DROP TABLE IF EXISTS `playlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `playlist` (
  `playlistId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `userId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`playlistId`),
  KEY `userId` (`userId`),
  CONSTRAINT `Playlist_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `user` (`userId`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `playlist`
--

LOCK TABLES `playlist` WRITE;
/*!40000 ALTER TABLE `playlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `playlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `playlistsong`
--

DROP TABLE IF EXISTS `playlistsong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `playlistsong` (
  `playlistId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `songId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`playlistId`,`songId`),
  KEY `songId` (`songId`),
  CONSTRAINT `PlaylistSong_ibfk_1` FOREIGN KEY (`playlistId`) REFERENCES `playlist` (`playlistId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `PlaylistSong_ibfk_2` FOREIGN KEY (`songId`) REFERENCES `song` (`songId`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `playlistsong`
--

LOCK TABLES `playlistsong` WRITE;
/*!40000 ALTER TABLE `playlistsong` DISABLE KEYS */;
/*!40000 ALTER TABLE `playlistsong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `roleId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `roleName` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`roleId`),
  UNIQUE KEY `roleName` (`roleName`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES ('1','user','NgÆ°á»i dĂ¹ng thÆ°á»ng','2025-12-30 19:16:25'),('2','admin','Quáº£n trá»‹ viĂªn','2025-12-30 19:16:25');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `singer`
--

DROP TABLE IF EXISTS `singer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `singer` (
  `singerId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bio` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `imageUrl` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `isHidden` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`singerId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `singer`
--

LOCK TABLES `singer` WRITE;
/*!40000 ALTER TABLE `singer` DISABLE KEYS */;
/*!40000 ALTER TABLE `singer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `song`
--

DROP TABLE IF EXISTS `song`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `song` (
  `songId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `duration` int DEFAULT NULL,
  `fileUrl` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lyric` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `coverUrl` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `views` int DEFAULT '0',
  `singerId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `genreId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `releaseDate` datetime DEFAULT NULL,
  `popularityScore` float DEFAULT '0',
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `isHidden` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`songId`),
  KEY `singerId` (`singerId`),
  KEY `genreId` (`genreId`),
  CONSTRAINT `Song_ibfk_1` FOREIGN KEY (`singerId`) REFERENCES `singer` (`singerId`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Song_ibfk_2` FOREIGN KEY (`genreId`) REFERENCES `genre` (`genreId`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `song`
--

LOCK TABLES `song` WRITE;
/*!40000 ALTER TABLE `song` DISABLE KEYS */;
/*!40000 ALTER TABLE `song` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `songfeature`
--

DROP TABLE IF EXISTS `songfeature`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `songfeature` (
  `songId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tempo` float DEFAULT NULL,
  `totalBeats` int DEFAULT NULL,
  `averageBeats` float DEFAULT NULL,
  `chromaStftMean` float DEFAULT NULL,
  `chromaStftStd` float DEFAULT NULL,
  `chromaStftVar` float DEFAULT NULL,
  `chromaCqMean` float DEFAULT NULL,
  `chromaCqStd` float DEFAULT NULL,
  `chromaCqVar` float DEFAULT NULL,
  `chromaCensMean` float DEFAULT NULL,
  `chromaCensStd` float DEFAULT NULL,
  `chromaCensVar` float DEFAULT NULL,
  `mfccMean` float DEFAULT NULL,
  `mfccStd` float DEFAULT NULL,
  `mfccVar` float DEFAULT NULL,
  `mfccDeltaMean` float DEFAULT NULL,
  `mfccDeltaStd` float DEFAULT NULL,
  `mfccDeltaVar` float DEFAULT NULL,
  `rmseMean` float DEFAULT NULL,
  `rmseStd` float DEFAULT NULL,
  `rmseVar` float DEFAULT NULL,
  `centMean` float DEFAULT NULL,
  `centStd` float DEFAULT NULL,
  `centVar` float DEFAULT NULL,
  `specBwMean` float DEFAULT NULL,
  `specBwStd` float DEFAULT NULL,
  `specBwVar` float DEFAULT NULL,
  `contrastMean` float DEFAULT NULL,
  `contrastStd` float DEFAULT NULL,
  `contrastVar` float DEFAULT NULL,
  `rolloffMean` float DEFAULT NULL,
  `rolloffStd` float DEFAULT NULL,
  `rolloffVar` float DEFAULT NULL,
  `tonnetzMean` float DEFAULT NULL,
  `tonnetzStd` float DEFAULT NULL,
  `tonnetzVar` float DEFAULT NULL,
  `zcrMean` float DEFAULT NULL,
  `zcrStd` float DEFAULT NULL,
  `zcrVar` float DEFAULT NULL,
  `harmMean` float DEFAULT NULL,
  `harmStd` float DEFAULT NULL,
  `harmVar` float DEFAULT NULL,
  `percMean` float DEFAULT NULL,
  `percStd` float DEFAULT NULL,
  `percVar` float DEFAULT NULL,
  `frameMean` float DEFAULT NULL,
  `frameStd` float DEFAULT NULL,
  `frameVar` float DEFAULT NULL,
  `emotionId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`songId`),
  KEY `emotionId` (`emotionId`),
  CONSTRAINT `SongFeature_ibfk_1` FOREIGN KEY (`songId`) REFERENCES `song` (`songId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `SongFeature_ibfk_2` FOREIGN KEY (`emotionId`) REFERENCES `emotion` (`emotionId`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `songfeature`
--

LOCK TABLES `songfeature` WRITE;
/*!40000 ALTER TABLE `songfeature` DISABLE KEYS */;
/*!40000 ALTER TABLE `songfeature` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `songgenre`
--

DROP TABLE IF EXISTS `songgenre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `songgenre` (
  `songId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `genreId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`songId`,`genreId`),
  KEY `genreId` (`genreId`),
  CONSTRAINT `SongGenre_ibfk_1` FOREIGN KEY (`songId`) REFERENCES `song` (`songId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `SongGenre_ibfk_2` FOREIGN KEY (`genreId`) REFERENCES `genre` (`genreId`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `songgenre`
--

LOCK TABLES `songgenre` WRITE;
/*!40000 ALTER TABLE `songgenre` DISABLE KEYS */;
/*!40000 ALTER TABLE `songgenre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `userId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `roleId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `isActive` tinyint(1) DEFAULT '1',
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`userId`),
  UNIQUE KEY `email` (`email`),
  KEY `roleId` (`roleId`),
  CONSTRAINT `User_ibfk_1` FOREIGN KEY (`roleId`) REFERENCES `role` (`roleId`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userrecommendation`
--

DROP TABLE IF EXISTS `userrecommendation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userrecommendation` (
  `userId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `songId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `score` float DEFAULT NULL,
  `generatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`userId`,`songId`),
  KEY `songId` (`songId`),
  CONSTRAINT `UserRecommendation_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `user` (`userId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `UserRecommendation_ibfk_2` FOREIGN KEY (`songId`) REFERENCES `song` (`songId`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userrecommendation`
--

LOCK TABLES `userrecommendation` WRITE;
/*!40000 ALTER TABLE `userrecommendation` DISABLE KEYS */;
/*!40000 ALTER TABLE `userrecommendation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usertrendprofile`
--

DROP TABLE IF EXISTS `usertrendprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usertrendprofile` (
  `userId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `emotionId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `singerId` varchar(26) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `listenCount` int DEFAULT '0',
  `likeCount` int DEFAULT '0',
  `emotionWeight` float DEFAULT '0',
  `likeWeight` float DEFAULT '0',
  `singerWeight` float DEFAULT '0',
  `lastUpdated` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`userId`,`singerId`,`emotionId`),
  KEY `singerId` (`singerId`),
  KEY `emotionId` (`emotionId`),
  CONSTRAINT `UserTrendProfile_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `user` (`userId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `UserTrendProfile_ibfk_2` FOREIGN KEY (`singerId`) REFERENCES `singer` (`singerId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `UserTrendProfile_ibfk_3` FOREIGN KEY (`emotionId`) REFERENCES `emotion` (`emotionId`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usertrendprofile`
--

LOCK TABLES `usertrendprofile` WRITE;
/*!40000 ALTER TABLE `usertrendprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `usertrendprofile` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-30 17:28:09
